:root {
    --page-1-color: steelblue;
    --page-2-color: tan;
    --page-3-color: teal;
    --page-4-color: tomato;
    --animate-speed: 1s;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* page color */
#page-1 {
    background-color: var(--page-1-color);
}

#page-2 {
    background-color: var(--page-2-color);
}

#page-3 {
    background-color: var(--page-3-color);
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.page h1 {
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
}
.page p{
    font-size: 1.3rem;
}
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #f4f4f4;
    text-decoration: none;
    border: none;
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #333;
    transition: all 0.3s ease-in;
}
.btn-dark,.btn:hover{
    background-color: #333;
    color: #f4f4f4;
}
.btn-dark:hover{
    background-color: #f4f4f4;
    color: #333;
}
/* page1 animation */
#page-1 h1{
    transform: translateY(-1000px);
    animation: heading var(--animate-speed) forwards ease-in;
}
#page-1 p{
    transform: translateX(-1600px);
    animation: text var(--animate-speed) forwards ease-in 0.6s;
}

@keyframes heading {
    to{
        transform: translateY(0);
    }
    
}
@keyframes text {
    to{
        transform: translateX(0);
    }
    
}